#user-card{
    margin: 10px auto;
}
#user-card:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
}
#user-card-left{
    font-size: 14px;
    float: left;
    overflow: hidden;
    display: inline;
}
#user-card-left dl:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
}
#user-card-left dt{
    color: #999;
    font-weight: bold;
    width: 90px;
    float: left;
    overflow: hidden;
    display: inline;
}
#user-card-left dd{
    float: left;
    overflow: hidden;
    display: inline;
}
#user-card-right{
    text-align:center;
    width:300px;
    border:1px solid #777;
    float: right;
    overflow: hidden;
    display: inline;
    margin: 20px 80px 20px auto;
}
#user-card-right h2{
    margin-top:15px;
}
#user-card-right dl{
    width: 90px;
    float: left;
    overflow: hidden;
    display: inline;
    margin: 0px;
}
#user-card-right dd{
    font-weight: 900;
    font-size: 35px;
    margin: auto auto;
    padding-top: 5px;
}
#user-card-right dt{
    font-size: 12px;
    color: #666;
}
#user-card-right-info:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
}
#user-card-right-info{
    width:200px;
    margin: 10px auto;
}
.profile-head-photo{
    max-height:120px;
    max-width: 120px;
}