.pane-title .block-title{
	background-color:green;
	color:#000;
}
.sub-title{
    margin: 0px 20px 0px 0px;
}
.action-button{
    margin: 3px 5px;
    padding: 2px 10px;
    background-color: #fff;
    border: 1px solid #999;
    color: #000;
    font-size: 11px;
    cursor: pointer;
}
.r-page-part{
    margin: 10px 0px;
    border: 1px solid #D3E7F4;
}
.r-page-part h2{
  /*  background-color: #D3E7F4; */
    padding: 3px 10px;
}
.r-page-part p{
    margin-left:10px;
}

.staff-photo{
    width:100px;    
}
.staff-name{
    font-size: 20px;
    font-family: 'Droid Sans', sans-serif;
    margin-left:10px;
}
.staff-intro{
    margin-left:10px;
}
.edit-text{
    margin-left:10px;   
}
#invited_emails_textarea{
    width:420px;
    height:100px;
}